# kasus pertama

In [ ]:
import numpy as np
account = (1, 2, 3, 4, 5)
saldo = np.array([24.98, 345.67, 0.00, -42.16, 224.62])

for x in range(len(account)):
  print('account', account[x], 'saldo', saldo[x])

account 1 saldo 24.98
account 2 saldo 345.67
account 3 saldo 0.0
account 4 saldo -42.16
account 5 saldo 224.62

In [ ]:
for j in range(5):

  if saldo[j] > 0:
    print('account', j+1, 'merupakan saldo deposit')
  elif saldo[j] == 0:
    print('account', j+1, 'merupakan saldo zero')
  else:
    print('account', j+1, 'merupakan saldo withdraw')

account 1 merupakan saldo deposit
account 2 merupakan saldo deposit
account 3 merupakan saldo zero
account 4 merupakan saldo withdraw
account 5 merupakan saldo deposit

In [ ]:
j = 5
total = sum(saldo)
print('total = ', total)
ratarata = total/j
print('ratarata = ',ratarata)

total =  553.11
ratarata =  110.622

# Kasus kedua

In [ ]:
grademhs=[[77, 68, 86, 73],[96, 87, 89, 78], [70, 90, 86, 81]]
grademhs

[[77, 68, 86, 73], [96, 87, 89, 78], [70, 90, 86, 81]]

In [ ]:
for a in grademhs:
    for b in a:
        print(b,end=" ")
    print()

77 68 86 73
96 87 89 78
70 90 86 81