In [ ]:
Bus_Besar = 0
Bus_Kecil = 0
Kapasitas_BK = 16
Kapasitas_BB = 46
Sewa_BK = 400000
Sewa_BB = 800000

pst = int(input('Peserta = '))
pnd = int(input('Pendamping = '))

Jumlah_Orang = pst+pnd
sisa_orang = Jumlah_Orang % Kapasitas_BB
if sisa_orang <= Kapasitas_BK:
  Bus_Kecil=+1
elif Kapasitas_BK < sisa_orang < Kapasitas_BB:
  Bus_Besar=+1

Bus_Besar = Jumlah_Orang//Kapasitas_BB
totalharga = (Bus_Kecil*Sewa_BK)+(Bus_Besar*800000)
print('Sisa Orang',sisa_orang)
print('Jumlah Bus Besar',Bus_Besar)
print('Jumlah Bus Kecil',Bus_Kecil)
print('Harga Sewa Total',totalharga)

Peserta = 250
Pendamping = 7
Sisa Orang 27
Jumlah Bus Besar 5
Jumlah Bus Kecil 0
Harga Sewa Total 4000000

In [ ]:
Bus_Besar = 0
Bus_Kecil = 0
Kapasitas_BK = 16
Kapasitas_BB = 46
Sewa_BK = 400000
Sewa_BB = 800000

pst = int(input('Peserta = '))
pnd = int(input('Pendamping = '))

Jumlah_Orang = pst+pnd
sisa_orang = Jumlah_Orang % Kapasitas_BB
if sisa_orang <= Kapasitas_BK:
  Bus_Kecil=+1
elif Kapasitas_BK < sisa_orang < Kapasitas_BB:
  Bus_Besar=+1

Bus_Besar = Jumlah_Orang//Kapasitas_BB
totalharga = (Bus_Kecil*Sewa_BK)+(Bus_Besar*800000)
print('Sisa Orang',sisa_orang)
print('Jumlah Bus Besar',Bus_Besar)
print('Jumlah Bus Kecil',Bus_Kecil)
print('Harga Sewa Total',totalharga)

Peserta = 300
Pendamping = 10
Sisa Orang 34
Jumlah Bus Besar 6
Jumlah Bus Kecil 0
Harga Sewa Total 4800000

In [ ]:
Bus_Besar = 0
Bus_Kecil = 0
Kapasitas_BK = 16
Kapasitas_BB = 46
Sewa_BK = 400000
Sewa_BB = 800000

pst = int(input('Peserta = '))
pnd = int(input('Pendamping = '))

Jumlah_Orang = pst+pnd
sisa_orang = Jumlah_Orang % Kapasitas_BB
if sisa_orang <= Kapasitas_BK:
  Bus_Kecil=+1
elif Kapasitas_BK < sisa_orang < Kapasitas_BB:
  Bus_Besar=+1

Bus_Besar = Jumlah_Orang//Kapasitas_BB
totalharga = (Bus_Kecil*Sewa_BK)+(Bus_Besar*800000)
print('Sisa Orang',sisa_orang)
print('Jumlah Bus Besar',Bus_Besar)
print('Jumlah Bus Kecil',Bus_Kecil)
print('Harga Sewa Total',totalharga)

Peserta = 350
Pendamping = 12
Sisa Orang 40
Jumlah Bus Besar 7
Jumlah Bus Kecil 0
Harga Sewa Total 5600000

In [ ]:
Bus_Besar = 0
Bus_Kecil = 0
Kapasitas_BK = 16
Kapasitas_BB = 46
Sewa_BK = 400000
Sewa_BB = 800000

pst = int(input('Peserta = '))
pnd = int(input('Pendamping = '))

Jumlah_Orang = pst+pnd
sisa_orang = Jumlah_Orang % Kapasitas_BB
if sisa_orang <= Kapasitas_BK:
  Bus_Kecil=+1
elif Kapasitas_BK < sisa_orang < Kapasitas_BB:
  Bus_Besar=+1

Bus_Besar = Jumlah_Orang//Kapasitas_BB
totalharga = (Bus_Kecil*Sewa_BK)+(Bus_Besar*800000)
print('Sisa Orang',sisa_orang)
print('Jumlah Bus Besar',Bus_Besar)
print('Jumlah Bus Kecil',Bus_Kecil)
print('Harga Sewa Total',totalharga)

Peserta = 0
Pendamping = 0
Sisa Orang 0
Jumlah Bus Besar 0
Jumlah Bus Kecil 1
Harga Sewa Total 400000